.simple-keyboard {
    width: 970px;
    height: 370px;
}

.simple-keyboard.customTheme {
    background-color: #011a29;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.simple-keyboard.customTheme .hg-button {
    height: 80px;
    width: 80px;
    font-size: 35px;
    font-family: Manofa;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #008eff;
    color: white;
}

.simple-keyboard.customTheme .hg-button.hg-button-shift {
    font-size: 30px;
    font-width: bold;
}

.simple-keyboard.customTheme .hg-button.hg-button-space {
    width: 680px;
}

.simple-keyboard.customTheme .hg-button.hg-button-left-margin-small {
    margin-left: 10px;
}

.simple-keyboard.customTheme .hg-button.hg-button-left-margin-big {
    margin-left: 50px;
}

.simple-keyboard.customTheme .hg-button.hg-button-right-margin-big {
    margin-right: 50px;
}

.simple-keyboard.customTheme .hg-button.hg-button-top-margin-small {
    margin-top: 10px;
}

.simple-keyboard.customTheme .hg-button.hg-button-backspace-and-ctrl {
    width: 180px;
}

.simple-keyboard.customTheme .hg-button:active {
    background: #1c4995;
    color: white;
}
