@font-face {
  font-family: Manofa;
  src: url(assets/fonts/Manofa/ManofaRegular.otf) format("opentype");
}

@font-face {
  font-family: ManofaMedium;
  src: url(assets/fonts/Manofa/ManofaMedium.otf) format("opentype");
}

@font-face {
  font-family: ManofaLight;
  src: url(assets/fonts/Manofa/ManofaLight.otf) format("opentype");
}

@font-face {
  font-family: ManofaCondensed;
  src: url(assets/fonts/Manofa/ManofaCondensed.otf) format("opentype");
}

@font-face {
  font-family: NocturneSemiBold;
  src: url(assets/fonts/Nocturne/NocturneSerifSemiBold.otf) format("opentype");
}

@font-face {
  font-family: NocturneMedium;
  src: url(assets/fonts/Nocturne/NocturneSerifMedium.otf) format("opentype");
}

@font-face {
  font-family: HelveticaStandard;
  src: url(assets/fonts/Helvetica/Linotype-HelveticaLTStd-Roman.otf) format("opentype");
}

@font-face {
  font-family: HelveticaBold;
  src: url(assets/fonts/Helvetica/Linotype-HelveticaLTStd-Bold.otf) format("opentype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Manofa', 'Manofa Light'
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
